@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --font-color: #444444;
    --back-color: #DDCCDD;
    --alt-color: #fe5a4c;
    --hover-color: #330033;
    --span-color: #EEEEEE;
    --special-color: #F7AEBE;
    --fonte-principal: "Poppins";
}

* {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--back-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background: linear-gradient(360deg, var(--alt-color) 0%, var(--special-color) 100%);
    color: var(--back-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
    gap: 0.5rem;
    box-shadow: 0 0 1rem;
}

.cabecalho__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__nav__lista {
    flex: 1;
    width: 600px;
    max-width: 100%;
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
    list-style: none;
}

.cabecalho__nav__lista__item {
    flex: 1;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cabecalho__nav__lista__item__link {
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}

.cabecalho__nav__lista__item__link:hover {
    background-color: var(--hover-color);
    color: var(--back-color);
    box-shadow: 0 0 1rem;
}

/* .cabecalho__titulo {
    animation: slide 2s ease 0s 1 reverse none running auto;
} */

.secao {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 4rem;
    gap: 4rem;
}

.secao2 {
    background-color: var(--span-color);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 4rem;
    gap: 4rem;
}

.secao__coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.secao__coluna2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.secao__coluna__foto {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
}

.secao__coluna__titulo {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    background-color: var(--alt-color);
    color: var(--back-color);
    border-radius: 1rem;
}

.secao__coluna__servico {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
    list-style: none;
}

.secao__coluna__servico:hover {
    background-color: var(--alt-color);
}

.secao__coluna__foto2 {
    max-width: 50vw;
    max-height: 100vh;
    object-fit: contain;
    border-radius: 1rem;
}

.rodape {
    /* background-color: var(--alt-color); */
    background: linear-gradient(180deg, var(--alt-color) 0%, var(--special-color) 100%);
    color: var(--font-color);
    padding: 1rem;
}

@media screen and (max-width: 800px) {

    .cabecalho__nav__lista,
    .secao,
    .secao2 {
        max-width: 100%;
        flex-direction: column-reverse;
    }

    .secao2 {
        flex-direction: column;
    }

    .secao,
    .secao2 {
        padding: 1rem;
    }

    .secao__coluna__foto2 {
        max-width: 100%;
    }

}